@model Web.Models.Clients.ClientsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>INDEX</h1>

<p>
    <a asp-action="Create">Add a Client</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    FIRST NAME
                </th>
                <th>
                    FAMILY NAME
                </th>
                <th>
                    PHONE NUMBER
                </th>
                <th>
                    EMAIL
                </th>
                <th>
                    IS ADULT
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @(item.Adult ? "✓" : "✘")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">EDIT</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
                    </td>
                </tr>
            }
        </tbody>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>
</div>