@model Web.Models.Reservations.ReservationsIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<h1>INDEX</h1>

<p>
    <a asp-action="Create">ADD NEW RESERVATION</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ROOM NUMBER
                </th>
                <th>
                    CREATED BY
                </th>
                <th>
                    CLIENTS
                </th>
                <th>
                    ACCOMODATION DATE
                </th>
                <th>
                    RELEASE DATE
                </th>
                <th>
                    BREAKFAST INCLUDED
                </th>
                <th>
                    ALL INCLUSIVE
                </th>
                <th>
                    PAYMENT AMOUNT
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @foreach (string name in item.ClientsNames)
                        {
                            @name <br />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAccomodation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRelease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BreakfastIncluded ? "✓" : "✘")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllInclusive ? "✓" : "✘")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentAmount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">EDIT</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
                    </td>
                </tr>
            }
        </tbody>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>
</div>