@model Web.Models.Rooms.RoomsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>INDEX</h1>

<p>
    <a asp-action="Create">ADD NEW ROOM</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    NUMBER
                </th>
                <th>
                    TYPE
                </th>
                <th>
                    CAPACITY
                </th>
                <th>
                    IS FREE
                </th>
                <th>
                    BED PRICE (ADULT)
                </th>
                <th>
                    BED PRICE (CHILD)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Free ? "✓" : "✘")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedPriceAdult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedPriceChild)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Number">EDIT</a>
                        <a asp-action="Delete" asp-route-id="@item.Number">DELETE</a>
                    </td>
                </tr>
            }
        </tbody>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Pager.PagesCount; i++)
            {
                <li class="page-item @(i == Model.Pager.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>
</div>